h2{
    color: black;
    font-family: sans-serif;
    
}

h1{
    color: rgb(254, 119, 200);
    font-family: sans-serif;
    
}

.centervideo{
    display: block;
    margin: 0 auto;
    text-align: center;
}


h3{
    color: black;
    font-family: sans-serif;
}

body{
    background-color: rgb(250, 203, 228);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.link{
    font-style: bold;
    text-decoration: underline;
}